<div class="jumbotron-fluid">
  <div class="align-center ml-5 mt-3 pt-5">
    <hr>
    <h1 class="display-4">Fais l'évènement!</h1>
    <p class="lead">Bienvenue sur EventSharp<i class="fab fa-slack-hash"></i> <br> <br>ton agenda événementiel.</p>
    <hr>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="#" role="button">A propos</a>
    </p>
  </div>
</div>
  
<div class="container-fluid">
  <div class="text-center">
  <h1 class="mt-3 mb-5 border border-warning p-2">Agenda des prochains évènements</h1>
  </div>
  <div>
    <% Event.order("start_date ASC").all.each do |event| %>
      <h2><%= event.start_date.strftime("%d/%m/%y") %></h2>
      <h3><%= event.title %> <small> à partir de <%= event.start_date.strftime("%H:%M") %></small></h3><br/>
      <p><%= link_to "Voir l'évènement", event_path(event.id) %></p><br/>
    <%end%>
  </div>
<div>


